.features-section {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 110px 8% 30px 8%;
    /* üst ve alt padding */
    align-items: center;
    justify-content: center;
}

/* Üst Metin Grubu */
.features-header {
    text-align: center;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.sub-title {
    color: var(--main-color);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.9rem;
}

.main-title {
    font-size: 3rem;
    font-weight: 800;
    line-height: 1.1;
    color: var(--white-ton);
    line-height: 1.2;
}

.desc-text {
    color: var(--white-ton);
    opacity: 0.7;
    font-size: 1.1rem;
}

/* Kart Izgarası (Grid) */
.features-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    /* Responsive yapı */
    gap: 30px;
    width: 100%;
}

.feature-card {
    background-color: rgba(255, 255, 255, 0.03);
    /* Burayı sabit tutuyoruz, hoverda kalınlığı (1px) değiştirmicez */
    border: 1px solid rgba(255, 255, 255, 0.05); 
    padding: 40px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: all 0.3s ease;
    position: relative;
    /* ÖNEMLİ: overflow: hidden üstteki kalın çizgiyi border'ın içine hapseder */
    overflow: hidden; 
}

.feature-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 4px; /* Sadece üstteki kalın şerit */
    background-color: var(--main-color);
    transition: width 0.5s ease;
    z-index: 2;
}

.feature-card:hover {
    background-color: rgba(255, 255, 255, 0.06);
    transform: translateY(-10px);
    
    /* Sadece RENGİ değiştiriyoruz, kalınlık 1px kalıyor */
    border-color: var(--main-color); 
    
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.6); 
}

/* Hover'da üst şeridin dolması */
.feature-card:hover::before {
    width: 100%;
}

/* İkonun hoverda parlaması (Bonus) */
.feature-card:hover .card-icon {
    filter: drop-shadow(0 0 8px var(--main-color));
    transition: filter 0.3s ease;
}
/* İkonu Sağa Dayama */
.card-icon {
    display: flex;
    justify-content: flex-start;
    /* İkon sağa yaslandı */
    color: var(--main-color);
}

.feature-card h3 {
    color: var(--white-ton);
    font-size: 1.4rem;
    font-weight: 700;
}

.feature-card p {
    color: var(--white-ton);
    opacity: 0.6;
    line-height: 1.6;
}