* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #111;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

/* GLOBAL CONTAINER */
.container {
    width: 100%;
    max-width: 1300px;
    padding: 0 24px;
    margin: 0 auto;
}

/* HEADER */
.header {
    position: fixed;
    width: 100%;
    background: #111;
    top: 0;
    z-index: 1000;
}

.navbar {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 2px;
}


/*
clamp(min, ideal, max)
*/


/* NAV LINKS */
.nav-links {
    list-style: none;
    display: flex;
    gap: clamp(16px, 4vw, 40px);
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-size: 17px;
}

/* HERO */
.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #111;
}


.hero-content {
    position: relative;
    overflow: hidden;

    width: 90%;
    max-width: 1500px;
    min-height: 85vh;

    background: #07070778;
    border-radius: 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-content::after {
    content: "";
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    height: 150px;
    background: radial-gradient(ellipse at center,
            rgba(255, 255, 255, 0.5) 0%,
            rgba(255, 255, 255, 0.15) 40%,
            transparent 70%);
    filter: blur(40px);
}


.p1 {
    color: white !important;
    font-size: clamp(28px, 5vw, 3.5rem);
    margin-bottom: 30px;
}

.hero p {
    margin-bottom: 40px;
    color: #bbb;
}

/* BUTTON GROUP */
.hero-buttons {
    display: flex;
    gap: 16px;
    justify-content: center;
    flex-wrap: wrap;
}

.hero-buttons a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

.btn {
    padding: 10px;
    border-radius: 10px;
}

.sign {
    border: 1px rgb(46, 46, 46) solid;
    background-color: #EF4444;
    color: #000 !important;
}

.log {
    border: 1px white solid;

}




/* INFO SECTIONS */
.info-section {
    padding: 120px 0;
    text-align: center;
    background-color: #232323;
}

.info-section.dark {
    background: #1a1a1a;
}

.info-section h2 {
    font-size: clamp(24px, 4vw, 32px);
    margin-bottom: 20px;
}

.info-section p {
    max-width: 600px;
    margin: 0 auto;
    color: #bbb;
}

/* CTA */
.cta {
    padding: 120px 0;
    text-align: center;
    background: #000;
}

/* FOOTER */
footer {
    padding: 30px 0;
    text-align: center;
    font-size: 14px;
    color: #888;
}