/*
  font-family: "Montserrat", sans-serif;

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
      font-family: "Montserrat", sans-serif;

}

body {
    background: #111;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

/* GLOBAL CONTAINER */
.container {
    width: 100%;
    max-width: 95%;
    padding: 0 24px;
    margin: 0 auto;
}

/* HEADER */
.header {
    position: fixed;
    width: 100%;
    background: #111;
    top: 0;
    z-index: 1000;
}

.navbar {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*KONTROL COMMİTİ İÇİNN*/
.logo {
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 2px;
}

.nav-btn{
    border: 1px #fff solid;
    padding: 9px 20px;
    border-radius: 50px;
}

/*
clamp(min, ideal, max)
*/


/* NAV LINKS */
.nav-links {
    list-style: none;
    display: flex;
    gap: clamp(16px, 4vw, 35px);
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-size: 17px;
}

/* HERO */
.hero {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #111;
    padding-top: 80px; /* navbar yüksekliği kadar boşluk */
    position: relative;
}

.hero-content {
    position: relative;
    z-index: 1; /* glow'un altına yazılar gelmesin */
    overflow: hidden;

    width: 90%;
    max-width: 1500px;
    min-height: 80vh;

    background: #07070778;
    border-radius: 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-content::after,
.hero-content::before {
    content: "";
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    filter: blur(100px);
    z-index: 0;
}

/* Sol üst glow */
.hero-content::before {
    top: -100px;
    left: -100px;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.6) 0%, transparent 70%);
}

/* Sağ alt glow */
.hero-content::after {
    bottom: -100px;
    right: -100px;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.6) 0%, transparent 70%);
}

.p1 {
    color: white !important;
    font-size: clamp(28px, 5vw, 3rem);
    margin-bottom: 30px;
}

.hero p {
    margin-bottom: 40px;
    color: #bbb;
}

/* BUTTON GROUP */
.hero-buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.hero-buttons a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}

.btn {
    padding: 15px;
    border-radius: 15px;
}

.sign {
    border: 1px rgb(46, 46, 46) solid;
    background-color: #EF4444;
    color: #000 !important;
}

.log {
    border: 1px white solid;
}

/* BUTTOM BTN */
.buttom-btn {
    margin-top: 20px;
    color: #fff;
    font-weight: bold;
    text-align: center;
}


/* INFO SECTIONS */
.info-section {
    padding: 120px 0;
    text-align: center;
    background-color: #232323;
}

.info-section.dark {
    background: #1a1a1a;
}

.info-section h2 {
    font-size: clamp(24px, 4vw, 32px);
    margin-bottom: 20px;
}

.info-section p {
    max-width: 600px;
    margin: 0 auto;
    color: #bbb;
}

/* CTA */
.cta {
    padding: 120px 0;
    text-align: center;
    background: #000;
}

/* FOOTER */
footer {
    padding: 30px 0;
    text-align: center;
    font-size: 14px;
    color: #888;
}