:root {
  --main-color: #f74444; /* Senin seçtiğin neon kırmızı */
  --main-glow: rgba(247, 68, 68, 0.3); /* Gölge için transparan hali */
  --bg-dark: #181818;
  --second: #ff8442;
  --third: #ff4262;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  /* Tarayıcı penceresinin tamamını referans al */
  width: 100%;
  background-color: #181818;
  color: #e8eaed;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  /* Yatay kaymayı engelle */
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

